@using Sandbox;
@using Sandbox.UI;
@inherits PanelComponent

<root>
	<div class="hint">[LeftMouse/E Button] Interact with entities</div>
	<div class="hint">[RightMouse Button] Reset entity Rotation</div>
	<div class="hint">[B/Tab Button] Toggle Shop</div>
	<div class="hint">Intoxication = Money per Second</div>
	<div class="hint">If you run out of money, just wait for your salary</div>
</root>

@code {
	protected override int BuildHash() => System.HashCode.Combine( "" );
}
