PrinterHud {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #444;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
	font-family: Poppins;
	flex-direction: column;

	.money-label {
		color: cornflowerblue;
		margin-bottom: 120px;
		font-size: 120px;
	}

	.money-amount {
		color: darkgreen;
		font-size: 102px;
	}
}
